<p>Dear {{ firstName }} {{ lastName }},</p>
  <p>Your account has been created successfully. Here are your login details:</p>
  <ul>
    <li><strong>firstName:</strong> {{ firstName }}</li>
    <li><strong>Password:</strong> {{ password }}</li>
  </ul>
  <p>Please keep your login details secure and do not share them with anyone.</p>
  <p>
    <a href="{{url}}">Login Here</a>
</p>
  <p>Thank you,</p>
  <p>The Authmika Team</p>